<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/js/myJs.js"/>
</head>
<body>
<div classs="container-fluid">
    <div class="row" th:fragment="my-header">
        <div class="col-md-12">
            <br/>
            <ul class="nav nav-pills nav-myset ">
                <li class="nav-item text-center">
                    <a class="nav-link disabled" href="#" id="my-title" style="padding-left: 200px;font-size: 26px;
                    line-height: 28px;
                    color: #6777ef;
                    padding-right: 10px;
                    margin-bottom: 0;
                    font-weight:700">治帐app后台管理系统</a>
                </li>
                <li class="nav-item dropdown ml-md-auto">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" th:text="${session.admin['adminName']}">Admin</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#UpdatePassword">修改密码</a>
                        <div class="dropdown-divider">
                        </div>
                        <a class="dropdown-item logout" href="/admin/logout" >注&nbsp;&nbsp;&nbsp;&nbsp;销</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-1" th:fragment="block" style="background:url(/img/bg.png);background-size:cover">
<!--                    <a href="https://sm.ms/image/GgeoLSKNlTP1uid" target="_blank"><img src="https://i.loli.net/2020/06/18/GgeoLSKNlTP1uid.png" /></a>-->
<!--                    <a  target="_blank"><img src="https://i.loli.net/2020/06/18/pGdYaXEeowyc5nm.png" /></a>-->
<!--                    <a href="https://sm.ms/image/GgeoLSKNlTP1uid" target="_blank"><img src="@{/img/fg.png}" /></a>-->
                    <a target="_blank"><img src="/img/fg.png"/></a>
                </div>

                <div class="col-1" th:fragment="my-menu(index)">

                    <div class="nav flex-column nav-pills menu-myset text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link" id="v-pills-home-tab"  th:style="${index}==0?'color: #fff;background-color: #007bff':''"  th:href="@{/admin/home}" role="tab" >主&nbsp;&nbsp;&nbsp;&nbsp;页</a>
                        <a class="nav-link" id="v-pills-query-tab" th:style="${index}==1?'color: #fff;background-color: #007bff':''" th:href="@{/admin/query}" role="tab" >查&nbsp;&nbsp;&nbsp;&nbsp;询</a>
                        <a class="nav-link" id="v-pills-announce-tab" th:style="${index}==2?'color: #fff;background-color: #007bff':''" th:href="@{/admin/announce}" role="tab" >公告管理</a>
                        <a class="nav-link" id="v-pills-feedback-tab" th:style="${index}==3?'color: #fff;background-color: #007bff':''" th:href="@{/admin/feedback}" role="tab"  >用户反馈</a>
<!--                        <a class="nav-link" id="v-pills-products-tab" th:style="${index}==4?'color: #fff;background-color: #007bff':''" th:href="@{/admin/products}" role="tab"  >商品管理</a>-->
                    </div>

                </div>
                <div class="col-1" th:fragment="my-left">
                    <a >
                        <img src="/img/Amano_hina.png"width="200px" style="margin-top: 200px"/>
<!--                        <img src="https://i.loli.net/2020/06/18/C3KtGLgojVNU9XY.png" width="200px" style="margin-top: 200px"/>-->
                    </a>
                </div>
                <div class="col-1" th:fragment="my-right">
                    <a >
                        <img src="/img/Morisaki_Hodaka.png" width="200px" style="margin-top: 200px"/>
<!--                        <img src="https://i.loli.net/2020/06/18/wtS2ZkaxNOWYElz.png" width="200px" style="margin-top: 200px"/>-->
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UpdatePassword" th:fragment="updatePasswd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="margin-top:20%;">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" >修改密码</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="admin_update" method="post" action="/admin/updatePassword">
                    <div class="form-group">
                        <label  class="control-label">原密码:</label>
                        <input type="password" name="oldpassword" class="form-control" id="oldpassword">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">新密码:</label>
                        <input type="password" name="newpassword" class="form-control" id="newpassword">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">确认密码:</label>
                        <input type="password" class="form-control" id="repassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
                <button type="button" class="submit_update_password btn btn-danger">确认修改</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script >
    // 图片/模块高度
    $(function(){
        var h1 = $(window).height();
        var h2 = $(".nav-myset").height();
        var h3 = $(window).width();
        $("#my-title").width((h3)*0.8+'px');
        $(".menu-myset").height((h1-h2-57) + 'px');
        $(".tab-myset").height((h1-h2-60) + 'px');
    })
    //提交password的修改
    $("body").on("click", ".submit_update_password",function(e){
        if($('#oldpassword').val().trim()==''){
            toastr.warning('原密码不能为空');
        }
        else if($('#newpassword').val().trim()==''){
            toastr.warning('新密码不能为空');
        }
        else if($('#newpassword').val().trim()!=$('#repassword').val().trim()){
            toastr.warning('两次填写密码不一致');
        }
        else if(md5($('#prepassword').val().trim())!="${admin.admin_Password}"){
            toastr.error('原密码填写错误');
        }
        else{
            $("#admin_update").submit();
        }
    });
</script>