<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.xuronghao.ledger.mapper.AdminMapper">
    <resultMap id="adminQuery" type="stu.xuronghao.ledger.entity.Admin">
        <result column="adminNo" property="adminNo"/>
        <result column="adminName" property="adminName"/>
        <result column="adminPasswd" property="adminPasswd"/>
        <result column="adminStatus" property="adminStatus"/>
    </resultMap>

    <!--精确查询语句-->
    <select id="queryByAdminNo" resultMap="adminQuery">
        select *
        from Admin_T
        where adminNo = #{adminNo}
    </select>

    <!--模糊查询-->
    <select id="queryByAdminName" resultMap="adminQuery">
        select *
        from Admin_T
        where adminName like concat('%', '${adminName}', '%')
        order by adminNo
    </select>

    <!--整表查询-->
    <select id="queryAllAdmin" resultMap="adminQuery">
        select *
        from Admin_T
        order by adminNo
    </select>

    <!--用户注册-->
    <insert id="insertAdmin" parameterType="stu.xuronghao.ledger.entity.Admin">
        insert into Admin_T(adminNo, adminName, adminPasswd, adminStatus)
        VALUES (#{adminNo}, #{adminName}, #{adminPasswd}, #{adminStatus})
    </insert>

    <!--修改密码-->
    <update id="changeAdminPasswd" parameterType="stu.xuronghao.ledger.entity.Admin">
        update Admin_T
        set adminPasswd = #{adminPasswd}
        where adminNo = #{adminNo}
    </update>

    <!--用户注销！！
    管理员操作-->
    <update id="frozeAdmin" parameterType="stu.xuronghao.ledger.entity.Admin">
        update Admin_T
        set adminStatus = -1
        where adminNo = #{adminNo}
    </update>

    <!--用户删除！！
        管理员操作-->
    <delete id="deleteAdmin" parameterType="stu.xuronghao.ledger.entity.Admin">
        delete
        from Admin_T
        where adminNo = #{adminNo}
    </delete>

</mapper>